version: 2.1
jobs:
  test-36:
    docker:
      - image: circleci/python:3.6
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
            name: run tests
            command: |
                # Poetry isn't installed in the image and need to be installed manually.
                sudo pip install poetry==1.1.11
                make deps && make test

  test-37:
    docker:
      - image: circleci/python:3.7
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: run tests
          command: |
                sudo pip install poetry==1.1.11
                make deps && make test

  test-38:
    docker:
      - image: circleci/python:3.8
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: run tests
          command: |
                sudo pip install poetry==1.1.11
                make deps && make test

  test-39:
    docker:
      - image: circleci/python:3.9
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: run tests
          command: |
                sudo pip install poetry==1.1.11
                make deps && make test

workflows:
    version: 2.1
    workflows:
        jobs:
          - test-36
          - test-37
          - test-38
          - test-39
