<!DOCTYPE HTML>
<html>
	<head>
		<title>Get Diagnostics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index" class="title">Title</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="config" class="active">Generic</a></li>
						<li><a href="elements">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
				<!-- Main -->
			<div id="wrapper">

				<section id="clearprofile" class="wrapper">
					<span class="icon solid major fa-lock"></span>
					<h3>Get Diagnostics</h3>
					<p>Select ID of Charge Point and fill out the rest of the form. </p>
					<div class="row gtr-uniform">
						<form action="disconnect" method="post">
							<p>Charge Point ID:</p>
							<div>
								<input type="text" name="cp_id" id="cp_id" value="">
							</div>
							<p>Location of Diagnostics:</p>
							<div>
								<input type="text" name="location" id="location" value="">
							</div>
							<p>Number of Retries:</p>
							<div>
								<input type="number" name="retries" id="retries" value="">
							</div>
							<p>Retry Interval:</p>
							<div>
                                <input type="number" name="retry_interval" id="retry_interval" value="">
							</div>
							<p>Start Time:</p>
							<div>
								<input type="text" name="start_time" id="start_time" value="">
							</div>
							<p>Stop Time:</p>
                            <div>
                                <input type="text" name="stop_time" id="stop_time" value="">
                            </div>
							<div>
								<input type="submit" name="submit">
							</div>
						</form>
					</div>
				</section>

			</div>
	</body>
</html>
