<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Drifter World Admin</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
	<body class="" contenteditable="true">

		<!-- Sidebar -->
			<section id="sidebar">
				<a href="index" class="title">Navigation</a>
				<div class="inner">
					<nav>
						<ul>
							<li><a href="index" class="scrolly">Desktop</a></li>
							<li><a href="index" class="scrolly">Charge Points</a></li>
							<li><a href="config" class="">Configuration</a></li>
								<li><a href="getconfig" class=""></a></li>
							<li><a href="index" class="scrolly">Smart Charging</a></li>
							<li><a href="index" class="scrolly">Transactions</a></li>

							<li><a href="index" class="scrolly">Transactions</a></li>
							<li><a href="index" class="scrolly">Data and Diagnostics</a></li>
							<li><a href="index" class="scrolly">Clear/Reset/Delete</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Welcome!</h1><h1>to Drifter Administration Panel</h1>
							<p>Adimistration Panel regarding the Charge Point Operator of Drifter and data collected from all Charge Points connected to Drifter.</p>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section class="">
							<a href="index.html" class="image" style="background-position: center center;"></a>
							<div class="content">
								<div class="inner">
									<h2>Find Charge Points</h2>
									<p>Type in the location of the Charge Point you want to examine</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section class="">
							<a href="index.html" class="image" style="background-position: center top;"></a>
							<div class="content">
								<div class="inner">
									<h2>Add Charge Points</h2>
									<p>Add Charge Point IDs to location, area and city to be able to document which ID belongs to which Drifter Charge Stations</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Configuration</h2>
							<p>Type the location of the Charging Stations or the ID of the specific Charge Point you wish to configure</p>
							<div class="features">


								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Settings</h3>
									<p>Choose which setting you wish to change</p>
									<form class="" action="generic.html" method="post">
										<select id="setting" name="setting">
											<option value="change_configuration">Change Configuration</option>
											<option value="change_availability">Change Availability</option>
											<option value="send_local_list">Send Local List</option>
										</select>
										<input type="submit" value="submit">
									</form>
								</section>



								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Get Configuration</h3>
									<p>Select city, area and/or location to narrow the search</p>
									City<input type="text" name="city">
									Area<input type="text" name="area">
									Location<input type="text" name="location">
									<p>Select specific configuration key or select "Get all" to retrieve all configuration keys and values</p>
									<form class="" action="generic.html" method="post">
										<select id="key" name="key">
											<option value="get_all_configurations">Get all Configurations</option>
											<option value="minimum_status_duration">Minimum Status Duration</option>
											<option value="number_of_connectors">Number of Connectors</option>
											<option value="reset_retries">ResetRetries</option>
											<option value="stop_transaction_on_ev_side_disconnect">Stop Transaction on EV Side Disconnect</option>
											<option value="stop_transaction_on_invalid_id">Stop Transaction on Invalid ID</option>
											<option value="stop_txn_aligned_data">Stop Txn Aligned Data</option>
											<option value="stop_txn_aligned_data_max_length">Stop Txn Aligned Data Max Length</option>
											<option value="stop_txn_sampled_data">Stop Txn Sampled Data</option>
											<option value="stop_txn_sampled_data_max_length">Stop Txn Sampled Data Max Legnth</option>
											<option value="supported_feature_profiles">Supported Feature Profiles</option>
											<option value="supported_feature_profiles_max_length">Supported Feature Profiles Max Legnth</option>
											<option value="transaction_message_attempts">Transaction Message Attempts</option>
											<option value="transaction_message_retry_interval">Transaction Message Retry Interval</option>
											<option value="unlock_connector_on_ev_side_disconnect">Unlock Connector on EV side Disconnect</option>
											<option value="web_socket_ping_interval">Web Socket Ping Interval</option>
											<option value="charge_profile_max_stack_level">Charge Profile Max Stack Level</option>
											<option value="charging_schedule_allowed_charging_rate_unit">Charging Schedule Allowed Charging Rate Unit</option>
											<option value="charging_schedule_max_periods">Charging Schedule Max Periods</option>
											<option value="connector_switch_3to1_phase_supported">Connector Switch 3 to 1 Phase Supported</option>
											<option value="max_charging_profiles_installed">Max Charging Profiles Installed</option>
										</select>
										<input type="submit" value="submit">
									</form></section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Get Local List Version</h3>
									<p>Type in the location of the Charge Station to get a list of each Charge Points' Local List Version</p>
									<form class="" action="generic.html" method="post">
										City<input type="text" name="city">
										Area<input type="text" name="area">
										Location<input type="text" name="location">
									</form>
								</section>


								<section>
									<span class="icon major fa-gem"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact head of Admin</h2>
							<p>With difficutlies regarding CPO or any other admin questions, reach out to head of<br>admin by filling the form below.</p>
							<div class="split style1">
								<section>
									<form method="post" action="index.html">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name">
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email">
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="index.html" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Admin</h3>
											Simon Ask</li>
										<li>
											<h3>Email</h3>
											simon.ask@drifterworld.se</li>
										<li>
											<h3>Phone</h3>
											+46 727302602</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>
</body></html>
