<!DOCTYPE HTML>
<html>
	<head>
		<title>Remote Start/Stop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index" class="title">Hyperspace</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="config" class="active">Generic</a></li>
						<li><a href="elements">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
				<!-- Main -->
			<div id="wrapper">

				<section id="remote" class="wrapper">
					<span class="icon solid major fa-lock"></span>
					<h3>Remote Start</h3>
					<p>Select ID Tag and Connector ID</p>
					<div class="row gtr-uniform">
						<form class="" action="remotestart" method="post">
							<p>Charge Point ID:</p>
							<div>
								<input type="text" name="cp_id" id="cp_id" value="">
							</div>
							<p>Connector ID:</p>
							<div>
								<input type="number" min="0" max="2" name="connector_id" id="connector_id" value="">
							</div>
							<p>ID Tag:</p>
							<div>
								<input type="text" name="id_tag" id="id_tag" value="">
							</div>
							<div>
								<input type="submit" name="submit">
							
							</div>
						</form>
					</div>
				</section>

			</div>
	</body>
</html>
