<!DOCTYPE HTML>
<html>
	<head>
		<title>Get Configuration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index" class="title">Title</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="config" class="active">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
				<!-- Main -->
			<div id="wrapper">

				<section id="get_configuration" class="wrapper">
					<span class="icon solid major fa-lock"></span>
					<h3>Get Configuration</h3>
					<p>Select a Charge Point ID and a configuration key to get</p>
					<div class="row gtr-uniform">
						<form class="" action="getconfig" method="post">
							<p>Charge Point ID:</p>
							<div>
								<input type="text" name="cp_id" id="cp_id" value="">
							</div>
							<p>Configuration Key:</p>
							<div>
							<select id="key" name="key">
								<option value="get_all_configurations">Get all Configurations</option>
								<option value="minimum_status_duration">Minimum Status Duration</option>
								<option value="number_of_connectors">Number of Connectors</option>
								<option value="reset_retries">Reset Retries</option>
								<option value="stop_transaction_on_ev_side_disconnect">Stop Transaction on EV Side Disconnect</option>
								<option value="stop_transaction_on_invalid_id">Stop Transaction on Invalid ID</option>
								<option value="stop_txn_aligned_data">Stop Txn Aligned Data</option>
								<option value="stop_txn_aligned_data_max_length">Stop Txn Aligned Data Max Length</option>
								<option value="stop_txn_sampled_data">Stop Txn Sampled Data</option>
								<option value="stop_txn_sampled_data_max_length">Stop Txn Sampled Data Max Legnth</option>
								<option value="supported_feature_profiles">Supported Feature Profiles</option>
								<option value="supported_feature_profiles_max_length">Supported Feature Profiles Max Legnth</option>
								<option value="transaction_message_attempts">Transaction Message Attempts</option>
								<option value="transaction_message_retry_interval">Transaction Message Retry Interval</option>
								<option value="unlock_connector_on_ev_side_disconnect">Unlock Connector on EV side Disconnect</option>
								<option value="web_socket_ping_interval">Web Socket Ping Interval</option>
								<option value="charge_profile_max_stack_level">Charge Profile Max Stack Level</option>
								<option value="charging_schedule_allowed_charging_rate_unit">Charging Schedule Allowed Charging Rate Unit</option>
								<option value="charging_schedule_max_periods">Charging Schedule Max Periods</option>
								<option value="connector_switch_3to1_phase_supported">Connector Switch 3 to 1 Phase Supported</option>
								<option value="max_charging_profiles_installed">Max Charging Profiles Installed</option>
							</select>
							</div>
							<div>
								<input type="submit" name="submit">
							</div>
						</form>
					</div>
				</section>

			</div>
	</body>
</html>
