<!DOCTYPE HTML>
<html>
	<head>
		<title>Reset</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index" class="title">Hyperspace</a>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="config" class="active">Generic</a></li>
						<li><a href="elements">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
				<!-- Main -->
			<div id="wrapper">

				<section id="reset" class="wrapper">
					<span class="icon solid major fa-lock"></span>
					<h3>Reset Charge Point</h3>
					<p>Select Charge Point ID as well as which type of reset you wish to do</p>
					<div class="row gtr-uniform">
						<form action="reset" method="post">
							<p>Charge Point ID:</p>
							<div>
								<input type="text" name="cp_id" id="cp_id" value="">
							</div>
							<p>Charge Point ID:</p>
							<div>
								<select name="type" id="type">
									<option value="Soft">Soft</option>
									<option value="Hard">Hard</option>
								</select>
							</div>
							<div>
								<input type="submit" name="submit">
							</div>
						</form>
					</div>
				</section>

			</div>
	</body>
</html>
